<h1>welcome <%= current_doctor.email %></h1>


<%= image_tag("medicine.jpg", :alt => "medicine", size: "1025x500") %>

 <a class="btn btn-info btn-lg btn-block" href="/users" role="button">BEGIN</a>
 
